/* v1.0 | 20080212 */

.qv-object-GanttSense html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.qv-object-GanttSense body {
  line-height: 1;
}
.qv-object-GanttSense ol, ul {
  list-style: none;
}
.qv-object-GanttSense blockquote, q {
  quotes: none;
}
.qv-object-GanttSense blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
.qv-object-GanttSense :focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
.qv-object-GanttSense ins {
  text-decoration: none;
}
.qv-object-GanttSense del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
.qv-object-GanttSense table {
  border-collapse: collapse;
  border-spacing: 0;
}